@font-face {
    font-family: "Segoe";
    src: url('./fonts/segoepr.ttf') format("truetype");
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#ghost_object {
    /* stroke: red; */
    /* stroke-width: 1px; */
}
#centroid {
    display: none;
}

canvas {
    float: left;
}
svg {
    float: left;
}

svg > g {
    /* transform-box: fill-box; */
    /* transform-origin: center; */
    /* transform-origin: 0px 0px; */
    /* transition: all 0.5s; */
}

.st0{fill:none;}
.st1{fill:#FFFFFF;}
.st2{fill:#010101;}