html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer:hover > *{
    filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .5));
    /* transform: scale(0.9); */
}