html, body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-pointer:hover .ghost {
    filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .4));
}

.tooltip {
    position: fixed;
    padding: 5px;
    background: white;
    box-shadow: 2px 2px 4px grey;
    font-family: sans-serif;
    top: 0px;
    left: 0px;
    display: none;
}

.tooltip p {
    font-size: 12px;
    margin: 0px;
}